body {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20%;
  }
  
  .App {
    font-family: sans-serif;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    border: 4px solid #ccc;
    padding: 3rem;
  }
  
  .App .form-element {
    font-family: inherit;
    font-size: inherit;
    margin: 1rem 0;
  }
  
  .App .form-element input,
  .App .form-element select {
    padding: 5px;
    margin-left: 0.5rem;
  }
  
  .App p {
    line-height: 1.4rem;
  }
  